<a href="https://colab.research.google.com/github/jeslinpjames/python_lab/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
-print ('hello world')

hello world

In [ ]:

a=5
print(a)
print (type(a))

5
<class 'int'>

In [ ]:
f =1.8
print(f)
print(type(a))

1.8
<class 'int'>

In [ ]:
s= 'hello'
print (s)
print(type(s))

hello
<class 'str'>

In [ ]:
b = False
print (b)
print(type(b))

False
<class 'bool'>

In [ ]:
c= 8+6j
print(c)
print(type(c))

(8+6j)
<class 'complex'>

In [ ]:
for i in range(5):
  print(i," ")

0
1
2
3
4

In [ ]:

a=8
b=6
ab_add=a+b
print(ab_add) 
ab_diff=a-b
print(ab_diff)
ab_multi= a*b
print(ab_multi)
ab_div =a/b
print(ab_div)
ab_mod=a%b
print(ab_mod)
ab_pow=a**b
print (ab_pow)

14
2
48
1.3333333333333333
2
262144

In [ ]:
a=3
b=4
c=5
avg=(a+b+c)/3
print(avg)

4.0

In [ ]:
a=int(input('enter no 1 '))
b=int(input('enter no 2 '))
c=int(input('enter no 3 '))
avg=(a+b+c)/3
print('the avg is ',avg)

enter no 1 3
enter no 2 3
enter no 3 3
the avg is  3.0

In [ ]:
#area and perimeter of a triangle
base=int(input('enter base'))
altitude= int(input('enter height'))

area = (1/2)*(base*altitude)
print(area)

enter base12
enter height123
738.0

In [ ]:
A=int(input("Enter the Value of the First Side "))
B=int(input("Enter the Value of the Second Side "))
C=int(input("Enter the Value of the Third Side "))
P=A+B+C
S=P/2
import math
Area=math.sqrt(S*(S-A)*(S-B)*(S-C))
print("The Perimeteter is ",P)
print("The Area is ",Area)

Enter the Value of the First Side 55
Enter the Value of the Second Side 33
Enter the Value of the Third Side 44
The Perimeteter is  132
The Area is  726.0

In [ ]:
s="hello"
u="hello"
print(s)
print(u)

hello
hello

In [ ]:
s1="Python"
s2="World"
s3=s1+" "+s2
print(s3)

Python World

In [ ]:
print(len(s3))

12

In [ ]:
print(s3.upper())

PYTHON WORLD

In [ ]:
print(s3.capitalize())

Python world

In [ ]:
print(s3.lower())

python world

In [ ]:
print("Hello World How are You? ".split(" "))

['Hello', 'World', 'How', 'are', 'You?', '']

In [ ]:
print("book ".replace('o','e'))

beek

In [ ]:
n=1257
i=n
s=0
while n>0:
  r=n%10
  s=s+r
  n=n//10
print(s)

15

In [ ]:
word="HELLO WORLD"
print(word.find('H'))
print(word.find("K"))

0
-1

In [ ]:
a=int(input("Enter the Number"))
s=a
b=0
while s>0:
  r=s%10
  s=s//10
  b=b*10+r

Enter the Number444

In [ ]:
number=int(input("Enter a number"))
if number > 99 and number < 1000 :
  print("3 digit")
else:
    print("Not 3 Digit")

Enter a number333
3 digit

In [ ]:
m=int(input("Enter a number:"))
n=int(input("Enter anther number:"))
k=int(input("Enter the value of step:"))
i=m 
while i<=n :
  print(i)
  i=i+k

Enter a number:1
Enter anther number:100
Enter the value of step:10
1
11
21
31
41
51
61
71
81
91



```
# This is formatted as code
```

**RAPTOR TO PYTHON**

In [ ]:
n =int(input("Enter a number to find Factorial:"))
f=1
while n>0:
  f=f*n
  n=n-1
print("The Factorial is :",f)

Enter a number to find Factorial:6
The Factorial is : 720

In [ ]:
print("Program to find the GCD of two numbers:")
a=int(input("Enter 1st Number:"))
b=int(input("Enter 2nd Number:"))
if a<b:
  a,b=b,a
for i in range(b,0,-1):
  if a % i==0 and b % i==0 :
    break
print("The GCD is :",i)

Program to find the GCD of two numbers:
Enter 1st Number:24
Enter 2nd Number:16
The GCD is : 8

In [ ]:
print("Program to Print first n  Odd numbers:")
n =int(input("Enter the value of N:"))
for i in range(1,n*2,2):
  print(i," ")

Program to Print first n  Odd numbers:
Enter the value of N:5
1
3
5
7
9

In [ ]:
print("Program to find the value of x^n")
x =int(input("Enter the value of X:"))
n=int(input("Enter the value of n:"))
a=1
while(n>0):
  a=a*x
  n=n-1
print("The value of X^n=",a)

Program to find the value of x^n
Enter the value of X:3
Enter the value of n:2
The value of X^n= 9

In [ ]:
import math
print("Program to check whether the givem number is Armstrong or not :")
a=int(input("Enter the Number:"))
b=a
c=0
s=0
while(a>0):
  a=a//10
  c=c+1
a=b
while(a>0):
  r=a%10
  s=s+math.pow(r,c)
  a=a//10
if(b==s):
  print("The Number is Armstrong")
else :
  print("The Number is not Armstrong")

Program to check whether the givem number is Armstrong or not :
Enter the Number:153
The Number is Armstrong

In [ ]:
print("Program to check whether the givem number is Palindrome or not :")
a=int(input("Enter the Number:"))
b=a
s=0
while(a>0):
  r=a%10
  s=s*10+r
  a=a//10
if(b==s):
  print("The Number is Palindrome")
else :
  print("The Number is not Palindrome")

Program to check whether the givem number is Palindrome or not :
Enter the Number:121
The Number is Palindrome

In [ ]:
n=int(input("Enter a number:"))
f=2
c=0
while f<=n/2 :
  if n % f ==0 :
    c=c+1
    break
  f=f+1
if(c==0):
  print("The Number is Prime.")
else:
     print("The Number is not Prime.")

Enter a number:33
The Number is not Prime.

In [ ]:
print("Program to find the sum of Factors of a number:")
n=int(input("Enter a number:"))
i=1
s=0
while(i<=n):
  if(n%i==0):
    s=s+i
  i=i+1
print("Sum of factors:",s)

Program to find the sum of Factors of a number:
Enter a number:6
Sum of factors: 12

In [ ]:
print("Program to print sum of n natural numbers:")
n=int(input("Enter the number:"))
s,i=0,0
while(i<=n):
  s=s+i
  i=i+1
print("The sum =",s)

Program to print sum of n natural numbers:
Enter the number:5
The sum = 15

In [ ]:
print("Program to Print the reverse of a number:")
a=int(input("Enter the Number:"))
b=a
s=0
while(a>0):
  r=a%10
  s=s*10+r
  a=a//10
print("The Number after reversing=",s)

Program to Print the reverse of a number:
Enter the Number:369
The Number after reversing= 963

In [ ]:
print("Program to print the nature of Quadratic equations:")
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=int(input("Enter the value of c  "))
d=(b*b)-4*(a*c)
if(d==0):
  print("The roots are real and equal")
else:
  if(d>0):
    print("The roots are real and unequal")
  else:
      print("The roots are imaginary and Unequal")

Program to print the nature of Quadratic equations:
Enter the value of a: 4
Enter the value of b: 5
Enter the value of c  7
The roots are imaginary and Unequal

In [ ]:
print("Program to check whether a number is a multiple of another:")
a=int(input("Enter the first number:"))
b=int(input("Enter the Second number:"))
if(a>b):
  if(a%b==0):
    print("It is a multiple")
  else:
    print("It is not a multiple")
else:
  if(b%a==0):
    print("It is multiple")
  else:
    print("It is not a multiple")

Program to check whether a number is a multiple of another:
Enter the first number:6
Enter the Second number:12
It is multiple

In [ ]:
print("Program to check whether the accepted number is +ve -ve or 0")
n=int(input("Enter a number:"))
if(n>=0):
  if(n==0):
   print("The number is zero")
  else:
    print("The number is +ve")
else:
  print("The number is -ve")

Program to check whether the accepted number is +ve -ve or 0
Enter a number:-33
The number is -ve

In [ ]:
print("Program to check whether the given number is 2 digit or not:")
n=int(input("Enter a number:"))
if(n>9 and n<100):
  print("It is a 2 digit number")
else:
  print("It is not a 2 digit number")

Program to check whether the given number is 2 digit or not:
Enter a number:783473
It is not a 2 digit number

In [ ]:
import math
print("Program to find the distance between 2 points:")
x1=int(input("Enter the value of x1:"))
y1=int(input("Enter the value of y1:"))
x2=int(input("Enter the value of x2:"))
y2=int(input("Enter the value of y2:"))
d=math.sqrt(math.pow(x2-x1,2)+math.pow(y2-y1,2))
print("The distance=",d)

Program to find the distance between 2 points:
Enter the value of x1:2
Enter the value of y1:3
Enter the value of x2:4
Enter the value of y2:5
The distance= 2.8284271247461903

In [ ]:
print("Program to find the smallest of 3 numbers:")
a=int(input("Enter the first number :"))
b=int(input("Enter the second number:"))
c=int(input("Enter the third number:"))
s=a;
if(a>b):
  if(b<c):
    s=b
  else:
    s=c
elif(b>a):
  if(a<c):
    s=a
  else:
    s=c
print("The Smallest number is:",s)

Program to find the smallest of 3 numbers:
Enter the first number :2323
Enter the second number:23231
Enter the third number:919
The Smallest number is: 919

In [ ]:
print("Program to find the largest of 2 numbers:")
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
if(a>b):
  print(a,"is greater")
else:
  print(b,"is greater")

Program to find the largest of 2 numbers:
Enter 1st number:5
Enter 2nd number:22
22 is greater

In [ ]:
print("Program to print quotient and remainder:")
n =int(input("Enter a number:"))
a=int(input("Enter a number to divide it with:"))
d=n//a
r=n%a
print(d,"is the quotient",r,"is the remainder")

Program to print quotient and remainder:
Enter a number:32
Enter a number to divide it with:6
5 is the quotient 2 is the remainder

In [ ]:
print("Program to swap variable:")
n1=int(input("Enter 1st number:"))
n2=int(input("Enter 2nd number:"))
n1=n1*n2
n2=n1/n2
n1=n1/n2
print("1st Number=",n1,"2nd Number=",n2)

Program to swap variable:
Enter 1st number:6
Enter 2nd number:8
1st Number= 8.0 2nd Number= 6.0

In [ ]:
print("Program to print the values of AP.")
n=int(input("Enter the number of elements:"))
a=int(input("Enter the value of a:"))
d=int(input("Enter the value of d:"))
b=1;
while(n>=b):
  s=a+((b-1)*d)
  print(s)
  b=b+1

Program to print the values of AP.
Enter the number of elements:7
Enter the value of a:3
Enter the value of d:2
3
5
7
9
11
13
15

In [ ]:
print("Program to accept number of days and convert into years months and weeks ")
n=int(input("Enter the number of days:"))
year=n//365
a=n%365;
months=a//30
days=a%30
print("Number of years:",year,"Numbers of months:",months,"Number of days:",days)

Program to accept number of days and convert into years months and weeks
Enter the number of days:669
Number of years: 1 Numbers of months: 10 Number of days: 4

In [ ]:
print("Program to convert seconds into hours mins and seconds:")
a=int(input("Enter the time:"))
sec=a%60
hour=a//3600
b=a%3600
min=b//60
print("The time ",a,"seconds is",hour,"hours",min,"minutes",sec,"seconds")

Program to convert seconds into hours mins and seconds:
Enter the time:3669
The time  3669 seconds is 1 hours 1 minutes 9 seconds

In [ ]:
n =int(input("Enter the number of elements in the list:"))
list1=[]
print("Enter ",n," Elements:")
for i in range(0,n,1):
  s=input()
  list1.append(s)
list1.reverse()
print(list1)

Enter the number of elements in the list:3
Enter  3  Elements:
ieh
ofoe
keeej
['keeej', 'ofoe', 'ieh']

In [ ]:
n1 =int(input("Enter the number of elements in the first list:"))
lista=[]
print("Enter ",n1," Elements:")
for i in range(0,n1,1):
  s1=input()
  lista.append(s1)
n2 =int(input("Enter the number of elements in the second list:"))
listb=[]
print("Enter ",n2," Elements:")
for i in range(0,n2,1):
  s2=input()
  listb.append(s2)
lista.extend(listb)
print(lista)

Enter the number of elements in the first list:2
Enter  2  Elements:
djf
deif
Enter the number of elements in the second list:1
Enter  1  Elements:
dlkf
['djf', 'deif', 'dlkf']

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,10,1):
  list1[i]=list1[i]*list1[i]
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
n =int(input("Enter the number of elements in the list:"))
list1=[]
print("Enter ",n," Elements:")
for i in range(0,n,1):
  s=input()
  list1.append(s)
set1=set(list1)
print(set1)

Enter the number of elements in the list:6
Enter  6  Elements:

dfhgfh
fdhfh
fgf


{'', 'dfhgfh', 'fgf', 'fdhfh'}

In [ ]:
list1=[x*x for x in range(0,11)]
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
new_list = []
my_list = input("Enter a list of strings separated by commas: ").split(',')
for s in my_list:
    if s.strip():
        new_list.append(s)
print("The list after removing empty strings:", new_list)

Enter a list of strings separated by commas: jhgdsf, ,jsef,,,,kef,     ,hgwev
The list after removing empty strings: ['jhgdsf', 'jsef', 'kef', 'hgwev']

In [ ]:
list1=input("Enter a list of integers seperated by commas:").split(',')
list1=[int(x) for x in list1]
n=int(input("Enter the number to be replaced:"))
i=list1.index(n)
list1[i]=list1[i]*list1[i]
print(list1)

Enter a list of integers seperated by commas:22,23,44,11,9
Enter the number to be replaced:9
[22, 23, 44, 11, 81]

In [ ]:
list1=input("Enter the list of strings seperated by commas:").split(',')
list2=[]
st=input("Enter the string to be compeletely removed:")
for s in list1:
  if(s!=st):
    list2.append(s)
print(list2)

Enter the list of strings seperated by commas:lkjgr lrkg rkgh krjng
Enter the string to be compeletely removed:lrkg
['lkjgr', 'rkgh', 'krjng']



```
# This is formatted as code
```

1. Create a tuple with different with different data type and reverse it.

2. Count number of occurances of an item from a tuple.
3. Unpack a tuple into seperate variables.
4. Find element wise sum of a tuple.
5. Convert a tuple to dictionary.
6. Remove and item from a set if it is present.
7. Create intersection of sets.
8. Find minimum and maximum values in a set.
9. Check if 2 given sets have no elemnts in common.
10. Sort a dictionary by value.
11. Concatitante 2 dictionary to create a new one.
12. Print a dictionary where the keys are in a range of 10-20 and values are the squares of these keys.
13. Remove duplicates from dictionary. 
14. Create a dictionary from a string.
15.

In [ ]:
t=("iajs",22,'d',22.99,)
rev=t[::-1]
print(rev)

(22.99, 'd', 22, 'iajs')

In [ ]:
tup=tuple(input("Enter elements seperated by , : ").split(','))
i=(input("Enter the element for which the count is to be printed : "))
c=tup.count(i)
print("The count = ",c)

Enter elements seperated by , : 1, 2,3 34,4,3,3,3,8
Enter the element for which the count is to be printed : 3
The count =  3

In [ ]:
tup=(1,2,3)
x,y,z=tup
print(x,y,z)

1 2 3

In [ ]:
t1 = (int(x) for x in input("Enter elements of the first separated by spaces: ").split())
t2 = (int(y) for y in input("Enter elements of the second separated by spaces: ").split())
sume = tuple(x + y for x, y in zip(t1, t2))
print("Sum = ",sume)

Enter elements of the first separated by spaces: 1 2 3
Enter elements of the second separated by spaces: 4 5 6
Sum =  (5, 7, 9)

In [ ]:
tup=((1,2),(3,4),(5,6))
dic=dict(tup)
print(dic)

{1: 2, 3: 4, 5: 6}

In [ ]:
x=[1,2,3,4]
y=[z*z for z in x ]
print (y)

[1, 4, 9, 16]

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
y=[]
for i in x:
  if i%2==0:
    y.append(i*i)
  else:
    y.append(i)
print (y)

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
y=[z*z*z if(z%3==0) else z*z if(z%2==0) else z for z in x]
print (y)

[1, 4, 27, 16, 5, 216, 7, 64, 729, 100]

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
y=[z*z*z*z*z if(z%5==0)else z*z*z if(z%3==0)else z*z if(z%2==0)else z for z in x]
print (y)

[1, 4, 27, 16, 3125, 216, 7, 64, 729, 100000, 11, 1728, 13, 196, 759375]