<a href="https://colab.research.google.com/github/jeslinpjames/python_lab/blob/main/Lab_cycle1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION 1**

In [ ]:
def sum( n):
  s=0
  while(n>0):
    r=n%10;
    s=s+r
    n=n//10
  return s

Enter a 4 digit number:1565
The Sum of Digits= 17
The Reverse of the number= 5651
The diffrence of product of even and odd numbers= 19

In [ ]:
def reverse(n):
  s=0
  while(n>0):
    r=n%10
    s=s*10+r
    n=n//10
  return(s)

In [ ]:
def prod(n):
  s,a,b=0,1,1
  i=1
  while(n>0):
    r=n%10
    if(i%2==0):
      b=b*r
    else:
      a=a*r
    i=i+1
    n=n//10
  s=a-b
  return(s)

In [ ]:
n=int(input("Enter a 4 digit number:"))
s=sum(n)
print("The Sum of Digits=",s)
r=reverse(n)
print("The Reverse of the number=",r)
s1=prod(n)
print("The diffrence of product of even and odd numbers=",s1)

Enter a 4 digit number:1234
The Sum of Digits= 10
The Reverse of the number= 4321
The diffrence of product of even and odd numbers= 5

**QUESTION 2**

In [9]:
def inp():
  a=int(input("Enter the First side:"))
  b=int(input("Enter the Second side:"))
  c=int(input("Enter the Third side:"))
  return(a,b,c)

In [5]:
import math
def area(a,b,c):
  s=(a+b+c)/2
  area=math.sqrt(s*(s-a)*(s-b)*(s-c))
  return(area)

In [17]:
print("For the first Triangle:")
a1,b1,c1=inp()
print("For the second Triangle:")
a2,b2,c2=inp()
ar1=area(a1,b1,c1)
ar2=area(a2,b2,c2)
tot=ar1+ar2
print("The Total area enclosed by both the trangles =",tot)
p1=(ar1/tot)*100
p2=(ar2/tot)*100
print("The percentage contribution of the first triangle=",p1)
print("The percentage contribution of the second triangle=",p2)

For the first Triangle:
Enter the First side:3
Enter the Second side:3
Enter the Third side:4
For the second Triangle:
Enter the First side:4
Enter the Second side:4
Enter the Third side:3
The Total area enclosed by both the trangles = 10.034284820321327
The percentage contribution of the first triangle= 44.568557052941706
The percentage contribution of the second triangle= 55.431442947058294

**QUESTION 3**

In [18]:
def gross_salary(bp,da,hra,ma):
  gs=bp+da+hra+ma
  return(gs)

In [19]:
def deduction(pt,pf,it):
  d=pt+pf+it
  return(d)

In [20]:
def net_salary(gs,d):
  ns=gs-d
  return(ns)

In [23]:
def gen_payslip(name,code,bp):
  if(bp<10000):
    ma,pt=500,20
    da=(5/100)*bp
    hra=(2.5/100)*bp
    pf=(8/100)*bp
    it=0
    gs=gross_salary(bp,da,hra,ma)
    d=deduction(pt,pf,it)
    ns=net_salary(gs,d)
  elif(bp<=30000)and (bp>10000):
    ma,pt=2500,60
    da=(7.5/100)*bp
    hra=(5/100)*bp
    pf=(8/100)*bp
    it=0
    gs=gross_salary(bp,da,hra,ma)
    d=deduction(pt,pf,it)
    ns=net_salary(gs,d)
  elif(bp>30000)and(bp<=50000):
    ma,pt=5000,60
    da=(11/100)*bp
    hra=(7.5/100)*bp
    pf=(11/100)*bp
    it=(11/100)*bp
    gs=gross_salary(bp,da,hra,ma)
    d=deduction(pt,pf,it)
    ns=net_salary(gs,d)
  else:
    ma,pt=7000,80
    da=(25/100)*bp
    hra=(11/100)*bp 
    pf=(12/100)*bp
    it=(20/100)*bp
    gs=gross_salary(bp,da,hra,ma)
    d=deduction(pt,pf,it)
    ns=net_salary(gs,d)
  print("********PAYMENT SLIP*********")
  print("Employee name      :",name)
  print("Employee code      :",code)
  print("Basic Pay          :",bp)
  print("Employee DA        :",da)
  print("Employee HRA       :",hra)
  print("Employee MA        :",da)
  print("Employee PT        :",pt)
  print("Employee PF        :",pf)
  print("Employee IT        :",it)
  print("Gross Salary       :",gs)
  print("Deduction          :",d)
  print("Net Salary         :",ns)

In [24]:
name=input("Enter the Employee name:")
code=int(input("Enter the code:"))
bp=int(input("Enter the basic pay:"))
gen_payslip(name,code,bp)

Enter the Employee name:nandhu
Enter the code:6969
Enter the basic pay:78373
********PAYMENT SLIP*********
Employee name      : nandhu
Employee code      : 6969
Basic Pay          : 78373
Employee DA        : 19593.25
Employee HRA       : 8621.03
Employee MA        : 19593.25
Employee PT        : 80
Employee PF        : 9404.76
Employee IT        : 15674.6
Gross Salary       : 113587.28
Deduction          : 25159.36
Net Salary         : 88427.92