<a href="https://colab.research.google.com/github/jeslinpjames/python_lab/blob/main/Lab_cycle1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION 1**

In [ ]:
#Function to return the sum of digits of a number
def sum( n):
  s=0
  while(n>0):
    r=n%10;#To seperate each digits
    s=s+r#To store the sum
    n=n//10
  return s

In [ ]:
#Function to return the reverse of a number
def reverse(n):
  s=0
  while(n>0):
    r=n%10#To seperate each digit
    s=s*10+r#To store the reverese of a number
    n=n//10
  return(s)

In [ ]:
"""Function to find the difference between the product of digits at the odd 
postion and the product of digits at the even postions"""
def prod(n):
  s,a,b=0,1,1
  i=1
  while(n>0):
    r=n%10
    if(i%2==0):#To check for even and odd positions of the digit
      b=b*r#To store the product of digits in even places
    else:
      a=a*r#To store the product of digits in odd places
    i=i+1
    n=n//10
  s=b-a#To find the difference of even and odd places
  return(s)

In [ ]:
n=int(input("Enter a 4 digit number:"))
s=sum(n)#To call the sum functio
print("The Sum of Digits=",s)
r=reverse(n)#To call the reverse function
print("The Reverse of the number=",r)
s1=prod(n)#To call the prod function
print("The diffrence of product of even and odd numbers=",s1)

Enter a 4 digit number:1234
The Sum of Digits= 10
The Reverse of the number= 4321
The diffrence of product of even and odd numbers= -5

**QUESTION 2**

In [ ]:
#Function to accept the three sides of a triangle
def inp():
  a=int(input("Enter the First side:"))
  b=int(input("Enter the Second side:"))
  c=int(input("Enter the Third side:"))
  return(a,b,c)#To return the accepted values

In [ ]:
#Function to find the area of a Triangle
import math
def area(a,b,c):
  s=(a+b+c)/2
  area=math.sqrt(s*(s-a)*(s-b)*(s-c))
  return(area)

In [ ]:
print("For the first Triangle:")#Accepting first triangle sides
a1,b1,c1=inp()
print("For the second Triangle:")#Accepting second triangle sides
a2,b2,c2=inp()
ar1=area(a1,b1,c1)
ar2=area(a2,b2,c2)
tot=ar1+ar2               #To add up the total area of the two triangles
print("The Total area enclosed by both the trangles =",tot)
p1=(ar1/tot)*100          #To find the percentage contribution of triangle 1
p2=(ar2/tot)*100          #To find the percentage contribution of triangle 2
print("The percentage contribution of the first triangle=",p1)
print("The percentage contribution of the second triangle=",p2)

For the first Triangle:
Enter the First side:3
Enter the Second side:3
Enter the Third side:4
For the second Triangle:
Enter the First side:4
Enter the Second side:4
Enter the Third side:3
The Total area enclosed by both the trangles = 10.034284820321327
The percentage contribution of the first triangle= 44.568557052941706
The percentage contribution of the second triangle= 55.431442947058294

**QUESTION 3**

In [ ]:
#Function to compute the gross salary
def gross_salary(bp,da,hra,ma):
  gs=bp+da+hra+ma
  return(gs)

In [ ]:
#Function to compute the deduction
def deduction(pt,pf,it):
  d=pt+pf+it
  return(d)

In [ ]:
#Function to compute the net salary
def net_salary(gs,d):
  ns=gs-d
  return(ns)

In [ ]:
#Function to generate and print the payslip
def gen_payslip(name,code,bp):
  if(bp<10000):#Condition when the basic pay is less than 10000
    ma,pt=500,20
    da=(5/100)*bp#To compute the value of DA from Basic Pay
    hra=(2.5/100)*bp#To compute the value of HRA from Basic Pay
    pf=(8/100)*bp#To compute the value of PF from Basic Pay
    it=0
  elif(bp<=30000)and (bp>10000):#Condition when the basic pay is greater than 10000 but less than 30000
    ma,pt=2500,60
    da=(7.5/100)*bp
    hra=(5/100)*bp
    pf=(8/100)*bp
    it=0
  elif(bp>30000)and(bp<=50000):#Condition when the basic pay is greater than 30000 but less than 50000
    ma,pt=5000,60
    da=(11/100)*bp
    hra=(7.5/100)*bp
    pf=(11/100)*bp
    it=(11/100)*bp
  else:#Condition when the basic pay is greater than 50000
    ma,pt=7000,80
    da=(25/100)*bp
    hra=(11/100)*bp 
    pf=(12/100)*bp
    it=(20/100)*bp
  #To display all the details accepted and computed in the payment slip
  gs=gross_salary(bp,da,hra,ma)
  d=deduction(pt,pf,it)
  ns=net_salary(gs,d)
  print("********PAYMENT SLIP*********")
  print("Employee name      :",name)
  print("Employee code      :",code)
  print("Basic Pay          :",bp)
  print("Employee DA        :",da)
  print("Employee HRA       :",hra)
  print("Employee MA        :",da)
  print("Employee PT        :",pt)
  print("Employee PF        :",pf)
  print("Employee IT        :",it)
  print("Gross Salary       :",gs)
  print("Deduction          :",d)
  print("Net Salary         :",ns)

In [ ]:
#To accept Employee name code and basic pay from the user and call the functions to print the payment slip
name=input("Enter the Employee name:")
code=int(input("Enter the code:"))
bp=int(input("Enter the basic pay:"))
gen_payslip(name,code,bp)

Enter the Employee name:kjhdsfj
Enter the code:387
Enter the basic pay:377333
********PAYMENT SLIP*********
Employee name      : kjhdsfj
Employee code      : 387
Basic Pay          : 377333
Employee DA        : 94333.25
Employee HRA       : 41506.63
Employee MA        : 94333.25
Employee PT        : 80
Employee PF        : 45279.96
Employee IT        : 75466.6
Gross Salary       : 520172.88
Deduction          : 120826.56
Net Salary         : 399346.32

**QUESTION 4**

In [18]:
#Function to check whether the accepted number is a happy number or not and return true or false accordingly
def check_happy(n):
  i=0#Used to check how many times the loop works
  while(n!=1):
    a,s=n,0
    while(a>0):
      r=a%10
      s=s+r*r#To add up the sum of squares of the digits
      a=a//10
    n=s#To change the value of n to the sum of squares of the digits
    i=i+1
    if(i>100):
      break
  if((n==1)and(i<100)):
    return True #Return true if it is a happy number
  else:
    return False #Return false if the number is a sad number

In [2]:
#Function to print all the happy numbers between 2 limits
def range_happy(a,b):
  i=a
  while(i<=b):
    bo=check_happy(i) #Calling the function to check if i is a happy number  
    if(bo==True):
      print(i," ") #If it is then print the number
    i=i+1

In [3]:
#Function to print all the happy number til the accepted limit
def happy_n(n):
  i=0
  while(i<=n):
    bo=check_happy(i)#Calling the function to check if i is a happy number
    if(bo==True):
      print(i," ")
    i=i+1

In [7]:
#to check whether the accepted number is happy or not
n=int(input("Enter a number:"))
bo=check_happy(n)
if(bo==True):
  print("The number is a happy number")
else:
  print("The number is a sad number")

Enter a number:3423
The number is a sad number

In [ ]:
#to generate happy number between a range 
a=int(input("Enter the lower limit:"))
b=int(input("Enter the upper limit:"))
range_happy(a,b)

Enter the lower limit:3
Enter the upper limit:6

In [20]:
#to generate all the happy numbers upto a limit
n=int(input("Enter a limit:"))
happy_n(n)

Enter a limit:50
1
7
10
13
19
23
28
31
32
44
49

**QUESTION 5**

In [ ]:
#Function to print all the possible substrings
def all_subs(s):
  i,j=0,0
  l=len(s)#To find the length of the accepted string
  for i in range(0,l+1):
    for j in range(i+1,l+1):
      print(s[i:j],end=",")#To print all the substrings

In [ ]:
#Function to print all possible substrings of length n
def subs_with_length(s,n):
  i,j=0,0
  l=len(s)
  for i in range(0,l+1):
    for j in range(i+1,l+1):
      s1=s[i:j]#To store the substring values to check if the length is equal to n
      if(len(s1)==n):
        print(s1,end=",")

In [ ]:
#Function to print all possible substings of length n with c distinct characters
def subs_dist_char_and_length(s,n,c):
  i,j=0,0
  l=len(s)
  for i in range(0,l+1):
    for j in range(i+1,l+1):
      s1=s[i:j]
      dist=set(s1)#To make the strings unique that is ton delete duplicate characters
      if(len(dist)==n):
        print(s1,end=",")

In [ ]:
#Function to print all palindrome substrings
def print_palindrome_subs(s):
  i,j=0,0
  l=len(s)
  for i in range(0,l+1):
    for j in range(i+1,l+1):
      s1=s[i:j]
      s2=s1[::-1]#To reverse the substring
      if(s2==s1):
        print(s1,end=",")

In [ ]:
s=input("Enter the String:")
print("All possible substrings are:")
all_subs(s)

Enter the String:jeslinpjames
All possible substrings are:
j,je,jes,jesl,jesli,jeslin,jeslinp,jeslinpj,jeslinpja,jeslinpjam,jeslinpjame,jeslinpjames,e,es,esl,esli,eslin,eslinp,eslinpj,eslinpja,eslinpjam,eslinpjame,eslinpjames,s,sl,sli,slin,slinp,slinpj,slinpja,slinpjam,slinpjame,slinpjames,l,li,lin,linp,linpj,linpja,linpjam,linpjame,linpjames,i,in,inp,inpj,inpja,inpjam,inpjame,inpjames,n,np,npj,npja,npjam,npjame,npjames,p,pj,pja,pjam,pjame,pjames,j,ja,jam,jame,james,a,am,ame,ames,m,me,mes,e,es,s,

In [ ]:
k=int(input("Enter the length of the substrings that you want to print:"))
print("The possible substrings with length",k,"is:")
subs_with_length(s,k)

Enter the length of the substrings that you want to print:4
The possible substrings with length 4 is:
jesl,esli,slin,linp,inpj,npja,pjam,jame,ames,

In [ ]:
nof_dist=int(input("Enter the number of distinct characters in the substrings"))
print("The substrings with",k,"length and",nof_dist,"distinct characters are:")
subs_dist_char_and_length(s,k,nof_dist)

Enter the number of distinct characters in the substrings2
The substrings with 4 length and 2 distinct characters are:
jesl,esli,slin,linp,inpj,npja,pjam,jame,ames,

In [ ]:
print("All the palindrome substrings are:")
print_palindrome_subs(s)

All the palindrome substrings are:
j,e,s,l,i,n,p,j,a,m,e,s,